@media (min-width: 320px) {
	.page {
		height: calc(100vh - 80px);
	}
	.container {
		width: 1920px;
		padding: 10px;
		display: flex;
		flex-direction: row;
		gap: 15px;
		flex-wrap: wrap;
		justify-content: center;
	}
}
