@media (min-width: 320px) {
	.page {
		padding: 0 10px;
	}
	.post {
		display: flex;
		gap: 10px;
		flex-direction: column;
		border: solid #1976d2 1px;
		border-radius: 5px;
		margin: 40px auto;
		max-width: 800px;
		min-width: 300px;
		padding: 10px;
	}
	.title {
		text-align: center;
	}
	.content {
		font-size: 1.3rem;
		padding: 5px 0;
	}
	.ids {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		margin-top: auto;
	}
	.button {
		padding: 8px;
		text-align: center;
		background-color: rgb(240, 240, 240);
		color: #333;
	}
}
