@media (min-width: 320px) {
	.main-page {
		&__container {
			margin: 0 auto;
			width: 100%;
			max-width: 1440px;
			padding: 10px;
			display: flex;
			flex-direction: row;
			gap: 15px;
			flex-wrap: wrap;
			justify-content: center;
		}
	}
}
