.postPage {
	padding: 0 10px;
}

@media (min-width: 320px) {
	.paged-post {
		display: flex;
		gap: 10px;
		flex-direction: column;
		border: solid wheat 2px;
		margin: 40px auto;
		max-width: 768px;
		min-width: 300px;
		padding: 10px;

		&__title {
			text-align: center;
		}
		&__content {
			font-size: 1.3rem;
			padding: 5px 0;
		}
		&__ids {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			margin-top: auto;
		}
		&__see-more-button {
			padding: 8px;
			text-align: center;
			background-color: rgb(240, 240, 240);
			color: #333;
		}
	}
}
