@media (min-width: 320px) {
	.post {
		display: flex;
		gap: 10px;
		flex-direction: column;
		max-width: calc(25% - 20px);
		left: 50% !important;
		transform: translateX(-50%);
		min-width: 300px;
		padding: 10px;
		border: wheat 1px solid;
		&__title {
			text-align: center;
		}
		&__content {
			font-size: 1.1rem;
			width: 100%;
			display: block;
			white-space: nowrap;
			overflow: hidden;
			box-sizing: border-box;
			text-overflow: ellipsis;
			padding: 5px 0;
		}
		&__ids {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			margin-top: auto;
		}
		&__see-more-button {
			padding: 8px;
			text-align: center;
			background-color: rgb(240, 240, 240);
			color: #333;
		}
	}
}
